/client/node_modules
/client/.env

/server/node_modules
/server/.env

# REACT_APP_API_URL=http://localhost:8080


# http://localhost:8080/auth/google/callback
# CLIENT_ID=
# CLIENT_SECRET=
# CLIENT_URL=http://localhost:3000
